body {
    margin: 0;
    padding: 0;
}

/* Header and top navigation bar */

header {
    background-color: #1F2937;
}

header > div > h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.right-header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    gap: 20px;
    margin-right: 50px;
}

header > div > p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-content: flex-start;
    margin-left: 50px;
}

.left-header > h3 {
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  Header subtext */

.subtext {
    padding: 50px;
}

.subtext > h1 {
    margin: 0;
}

.subtext button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 15px 32px;
    text-align: center;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

header > div > img {
    float: right;
    height: 200px;
    width: 350px;
}

/* Random information */

.random-info {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    text-align: center;
    padding: 50px;
}

.random-wrap > img {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

/* Inspiring quote */

.quote {
    background-color: #E5E7EB;
    padding: 150px;
}

.thortext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.thorquote {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}

/* Call to action */

.call {
    background-color: #3882F6;
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
}

.call > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.call > button {
    float: right;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 15px 32px;
    border: 1px solid #F9FAF8;
    font-size: 16px;
    margin-left: 50px;
    text-align: center;
}

/* Footer */

footer {
    color: #E5E7EB;
    margin: auto;
    padding: 10px;
    background-color: #1F2937;
    text-align: center;
}